{% extends 'base.html' %}
{% load static %}

{% block title %}検索履歴|総理の1か月{% endblock %}

{% block active_diary_list %}active{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/clean-blog.css' %}">
{% endblock %}

{% block contents %}
<div class="container px-4 px-lg-5 my-div-style">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="d-flex justify-content-end mb-4">
                <a class="btn btn-primary float-md-right " href="{% url 'kadai:search' %}">検索</a>
            </div>
            {% for kadai in kadai_list %}
            <div class="post-preview">
                <a href="#">
                    <h2 class="post-title">
                        {{ kadai.year }}年{{kadai.month}}月
                    </h2>
                    <h3 class="post-subtitle">
                        検索ワード：{{ kadai.words }}
                    </h3>
                </a>
                <p class="post-meta">検索日時：{{ kadai.search_at }}</p>
            </div>
            <hr class="my-4">
            {% empty %}
            <p>履歴がありません。</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}