{% extends 'base.html' %}

{% block title %}検索￤総理の1か月{% endblock %}

{% block active_inquiry %}active{% endblock %}

{% block contents %}
<div class="container my-div-style">
    <div class="row">
        <form action="/search" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
                <div>
                    <label for="year">年：</label>
                    <p id="year" name="year">{{ form.year }}</p>
                </div>
                <div>
                    <label for="year">月：</label>
                    <p id="month" name="month">{{ form.month }}</p>
                </div>
                <div>
                    <label for="year">検索ワード：</label>
                    <p id="words" name="words">{{ form.words }}</p>
                </div>
            <a class="btn btn-primary" href="{% url 'kadai:search_result' %}">検索</a>
        </form>

        <p>{{year_month}}</p>
    </div>
</div>
{% endblock %}